* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    rgb(57, 28, 184),
    rgb(143, 15, 132)
  );
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#percorrenza,
#eta {
  height: 30px;
  width: 250px;
  margin: 20px auto;
  color: whitesmoke;
  font-size: 18px;
  line-height: 30px;
  padding-left: 5px;
  text-align: center;
}

#avviso {
  height: 150px;
  background-color: rgb(15, 15, 15);
  color: whitesmoke;
  width: 600px;
  margin: 0 auto;
  font-size: 20px;
  margin-top: 40px;
}

#pavviso,
#psconto,
#tariffabase {
  text-align: center;
  margin: 20px;
}

#bottone {
  font-size: 15px;
  width: 150px;
  height: 70px;
  margin: 50px auto;
  border-radius: 15px;
  background-color: rgb(31, 197, 86);
  color: white;
  border: none;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 25px;
}

#nkm {
  width: 20px;
  height: 20px;
  background-color: pink;
}

#bottone:hover {
  cursor: pointer;
}
